{% extends "guiApp/layout.html" %}

{% block content %}
<div class="row">
	<h1>Dashboard</h1>
	{% if commands %}
		<div class="col-md-6">
			Place holder for visualisation
		</div>
		<div class="col-md-6">

			<div class="progress">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
				aria-valuemin="0" aria-valuemax="100" style="width:60%">
				Temperature
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
				aria-valuemin="0" aria-valuemax="100" style="width:40%">
				Pressure
				</div>
			</div>
			<p><b>Speed: 200m/s</b></p>
			<p><b>Position(x, y, z): 1002.6, 2556.1, 12.5</b></p>
			<p><b>Position(distance from start): 500.6m </b></p>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<legend>Controls</legend>
			<div class="section">
				<div class="row">
					<div class="col-md-6">
						<button type="button" data-command="{{commands.1.name}}" class="btn btn-success btn-block ">{{commands.1.name}}</button>
					</div>
					<div class="col-md-6">
						<button type="button" data-command="{{commands.0.name}}" class="btn btn-danger btn-block progress-bar-danger progress-bar-striped">{{commands.0.name}}</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1">{{commands.2.name}}</span>
							<input type="text" class="form-control" placeholder="{{commands.2.arguments.0}}" aria-describedby="sizing-addon1">
							<span class="input-group-btn">
						        <button class="btn btn-default" data-command="{{commands.2.name}}" type="button">Send</button>
						    </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<legend>Info</legend>
			{% for command in commands %}
				{% if "start" != command.name and "stop" != command.name and "move" != command.name %}
				<div class="row">
					<div class="col-md-6">
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1">{{command.name}}</span>
							{% for argument in command.arguments %}
								<input type="text" class="form-control" placeholder="{{argument}}" aria-describedby="sizing-addon1">
							{% endfor %}
							<span class="input-group-btn">
						        <button class="btn btn-default" data-command="{{command.name}}" type="button">Send</button>
						    </span>
						</div>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% else%}
	<div class="alert alert-danger" role="alert">Could not connect to wifi node</div>
{% endif %}

<script type="text/javascript">
	$("button").on("click", function(){
		console.log($(this))
		var command = $(this).data('command'),
			$inputs = $(this).parent().parent().find("input[type='text']"),
			arguments = "";

		$.each($inputs, function(){
			arguments += $(this).val() + " ";
		});

		$inputs = ($inputs.length)? $inputs.val() : "";
		console.log(command + ", " + $inputs + ", " + arguments)

        $.ajax({
            type: "POST",
            url: 'http://{{pod_address}}/' + command,
            error: function (request, error) {
                console.log(error);
            },
            data: $inputs,
            crossDomain: true,
    		dataType: 'jsonp',
            success: successFunc,
            failure: failureFunc,
            dataType: 'html',
            headers: {
            	'Access-Control-Allow-Origin' : '*'
    		},
            timeout: 3000
        });
    });

	// Use this function to do stuff if milestone update is successful
    function successFunc(data, textStatus, jqXHR) {
        console.log(data)
    }
    // Use this function to do stuff if not successful. For example show validation messages?
    function failureFunc(data, textStatus, jqXHR) {
        console.log(data)
    }

</script>

{% endblock %}
